<div class="cakesmash-imgs-container">
   <%= image_tag "cakesmash1.jpg", alt: "cakesmash image", class: "img-fluid rounded cakesmash-img-photo", loading: "lazy", style: "grid-area: cakesmash1" %>

   <%= image_tag "cakesmash2.jpg", alt: "cakesmash image", class: "img-fluid rounded cakesmash-img-photo", loading: "lazy", style: "grid-area: cakesmash2" %>

   <%= image_tag "cakesmash3.jpg", alt: "cakesmash image", class: "img-fluid rounded cakesmash-img-photo", loading: "lazy", style: "grid-area: cakesmash3" %>

   <%= image_tag "cakesmash4.jpg", alt: "cakesmash image", class: "img-fluid rounded cakesmash-img-photo", loading: "lazy", style: "grid-area: cakesmash4" %>

   <%= image_tag "cakesmash5.jpg", alt: "cakesmash image", class: "img-fluid rounded cakesmash-img-photo", loading: "lazy", style: "grid-area: cakesmash5" %>

   <%= image_tag "cakesmash6.jpg", alt: "cakesmash image", class: "img-fluid rounded cakesmash-img-photo", loading: "lazy", style: "grid-area: cakesmash6" %>

   <%= image_tag "cakesmash7.jpg", alt: "cakesmash image", class: "img-fluid rounded cakesmash-img-photo", loading: "lazy", style: "grid-area: cakesmash7" %>

   <%= image_tag "cakesmash8.jpg", alt: "cakesmash image", class: "img-fluid rounded cakesmash-img-photo", loading: "lazy", style: "grid-area: cakesmash8" %>

</div>
