<div class="maternity-imgs-container">
   <%= image_tag "maternity1.jpg", alt: "maternity image", class: "img-fluid rounded maternity-img-photo", loading: "lazy", style: "grid-area: maternity1" %>

   <%= image_tag "maternity2.jpg", alt: "maternity image", class: "img-fluid rounded maternity-img-photo", loading: "lazy", style: "grid-area: maternity2" %>

   <%= image_tag "maternity3.jpg", alt: "maternity image", class: "img-fluid rounded maternity-img-photo", loading: "lazy", style: "grid-area: maternity3" %>

   <%= image_tag "maternity4.jpg", alt: "maternity image", class: "img-fluid rounded maternity-img-photo", loading: "lazy", style: "grid-area: maternity4" %>

   <%= image_tag "maternity5.jpg", alt: "maternity image", class: "img-fluid rounded maternity-img-photo", loading: "lazy", style: "grid-area: maternity5" %>

   <%= image_tag "maternity6.jpg", alt: "maternity image", class: "img-fluid rounded maternity-img-photo", loading: "lazy", style: "grid-area: maternity6" %>

   <%= image_tag "maternity7.jpg", alt: "maternity image", class: "img-fluid rounded maternity-img-photo", loading: "lazy", style: "grid-area: maternity7" %>

   <%= image_tag "maternity8.jpg", alt: "maternity image", class: "img-fluid rounded maternity-img-photo", loading: "lazy", style: "grid-area: maternity8" %>

</div>
