<div class="newborn-imgs-container">
   <%= image_tag "newborn1.jpg", alt: "newborn image", class: "img-fluid rounded newborn-img-photo", loading: "lazy", style: "grid-area: newborn1" %>

   <%= image_tag "newborn2.jpg", alt: "newborn image", class: "img-fluid rounded newborn-img-photo", loading: "lazy", style: "grid-area: newborn2" %>

   <%= image_tag "newborn3.jpg", alt: "newborn image", class: "img-fluid rounded newborn-img-photo", loading: "lazy", style: "grid-area: newborn3" %>

   <%= image_tag "newborn4.jpg", alt: "newborn image", class: "img-fluid rounded newborn-img-photo", loading: "lazy", style: "grid-area: newborn4" %>

   <%= image_tag "newborn5.jpg", alt: "newborn image", class: "img-fluid rounded newborn-img-photo", loading: "lazy", style: "grid-area: newborn5" %>

   <%= image_tag "newborn6.jpg", alt: "newborn image", class: "img-fluid rounded newborn-img-photo", loading: "lazy", style: "grid-area: newborn6" %>

   <%= image_tag "newborn7.jpg", alt: "newborn image", class: "img-fluid rounded newborn-img-photo", loading: "lazy", style: "grid-area: newborn7" %>
</div>
