

<section id="scrollspyportfolio">
  <span>
    <h1 class="portfolio-title">Portfolio</h1>
    <div class="row index-cat-row">
      <% @categories.each do |category| %>
        <div class="col-12 col-sm-6 col-md-4 rounded border index-cat-cards">
          <%= link_to category_path(category), class: "text-decoration-none index-cat-link" do %>
            <div class="card-category" data-aos="zoom-in" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= category.photo.attached? ? cl_image_path(category.photo.key) : image_path("logo-color.png") %>)">
            </div>
          <% end %>

          <div class="portfolio-cat-title">
            <%= link_to category_path(category), class: "cat-title-link" do %>
              <%= category.title %>
            <% end %>
          </div>

        </div>
      <% end %>
    </div>

    <%# <%= link_to "Create category", new_category_path, class: "btn btn-flat border bg-primary text-white" %>

  </span>
</section>
