
<%= form_with model: @contact, html: { id: "contact-form" } do |form| %>

  <div class="contact-form-container">
    <div class="contat-name-email">
      <div class="field">
        <%= form.label :name, class: "form-name-label" %>
        <%= form.text_field :name, class: "" %>
      </div>
      <div class="field">
        <%= form.label :email, class: "form-name-label" %>
        <%= form.email_field :email, class: "form-name-field" %>
      </div>
    </div>

    <div class="contact-message">
      <div class="field">
        <%= form.label :message, class: "form-message-label" %>
        <%= form.text_area :message, class: "form-message-field" %>
      </div>
      <div class="actions">
        <%= form.submit %>
      </div>
    </div>

  </div>
<% end %>
