<section id="scrollspyhome">
  <%# <span>
    <h1>Header</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
  </span> %>
</section>

<%= render 'shared/portfolio' %>

<section>
  <span>
    <h1>Content 1</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
  </span>
</section>

<%= render 'shared/about' %>

<section>
  <span>
    <h1>test</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
  </span>
</section>

<%= render 'shared/footer' %>


<% if flash[:notice] %>
  <div class="alert alert-success flash-message">
    <%= flash[:notice] %>
  </div>
<% elsif flash[:alert] %>
  <div class="alert alert-danger flash-message">
    <%= flash[:alert] %>
  </div>
<% end %>
