
<%= render 'shared/navbar' %>


<header id="scrollspyhome">
  <%# <span>
    <h1>Header</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
  </span> %>
</header>

<%= render 'shared/portfolio' %>

<%= render 'shared/about' %>

<%= render 'shared/certificates' %>

<%= render 'shared/footer' %>


<% if flash[:notice] %>
  <div class="flash-message">
    <%= flash[:notice] %>
  </div>
<% elsif flash[:alert] %>
  <div class="flash-message">
    <%= flash[:alert] %>
  </div>
<% end %>
