
<%= render 'shared/navbar' %>


<header id="scrollspyhome">
  <%# <span>
    <h1>Header</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
  </span> %>
</header>

<%= render 'shared/portfolio' %>

<%= render 'shared/about' %>

<%= render 'shared/certificates' %>

<%= render 'shared/contact' %>

<%= render 'shared/footer' %>

<div class="d-flex justify-content-end">
  <% if flash[:notice] %>
    <div class="alert flash-message">
      <i class="bi bi-check2-all" style="color: #20c997; padding-right: 5px;"></i><%= flash[:notice] %>
    </div>
  <% elsif flash[:alert] %>
    <div class="alert flash-message">
      <i class="bi bi-exclamation-triangle-fill" style="color: #dc3545; padding-right: 5px;"></i><%= flash[:alert] %>
    </div>
  <% end %>
</div>
