
<%= render 'shared/navbar' %>


<header id="scrollspyhome">
  <%# <span>
    <h1>Header</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
  </span> %>
</header>

<%= render 'shared/portfolio' %>

<%= render 'shared/about' %>

<%= render 'shared/certificates' %>

<%= render 'shared/footer' %>

<div class="d-flex justify-content-end">
  <% if flash[:notice] %>
    <div class="alert flash-message" style="border: 1px solid #20c997; color: #20c997;">
      <%= flash[:notice] %>
    </div>
  <% elsif flash[:alert] %>
    <div class="alert flash-message" style="border: 1px solid #dc3545; color: #dc3545;">
      <%= flash[:alert] %>
    </div>
  <% end %>
</div>
