<h1 class="mt-5">create category form</h1>


<%= simple_form_for (@category) do |f| %>
  <%= f.input :title %>
  <%= f.input :photo, as: :file %>

  <div class='d-flex justify-content-between pt-4'>
    <p class='m-0'><%= link_to "Back to categories", categories_path, class: "btn btn-flat" %></p>
    <p class='m-0'><%= f.submit "Create category", class: "btn btn-flat" %></p>
  </div>

<% end %>
