<%# need to fix image position with css %>
<div class="card-large" style="border-bottom: 1px solid #535353; background-size: cover; background-position: center; background-image: linear-gradient(rgba(0,0,0,0.05),rgba(0,0,0,0.05)), url(<%= @category.photo.attached? ? cl_image_path(@category.photo.key, crop: :fill) : image_path("logo-color.png", width: 400, height: 800, crop: :fill) %>)">
  <h2 class="d-flex align-items-end justify-content-end cat-show-title"><%= @category.title %>
  </h2>
  <%# <div class="d-flex justify-content-end p-2"> %>
    <%# <%= button_to "delete", category_path(@category), method: :delete, class: "btn border bg-white", data: { confirm: "Are you sure you want to delete?" } %>
  <%# </div> %>
</div>

<div class="cat-return-btn">
  <%= link_to root_path, class: "cat-return-link" do %>
    <i class="bi bi-arrow-left-circle"></i>
  <% end %>
</div>



<% if @category.id == 29 %>
  <%= render partial: 'jobs/cakesmash' %>
<% elsif @category.id == 30 %>
  <%= render partial: 'jobs/maternity' %>
<% else %>
  <%= render partial: 'jobs/newborn' %>
<% end %>


<%= render 'shared/footer' %>
